html, body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
  }
  
#app {
	flex: 9;
	background-color: #ffd202;
	width: 100%;
}
  
#log {
	flex: 1;
	background-color: white;
	padding: 10px;
	font-family: monospace;
	overflow-y: auto;
}

p {
	color: black;
}

ul.online-markers li {
	color: black; /* Text color */
}

ul.online-markers li::marker {
	color: green; /* Marker (bullet) color */
}
