/node_modules
.env
.vscode
aiTraining/script/.venv
Server/src
Server/build.js
Server/package.json
Server/tsconfig.json

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
